.container-infoComic {
    display: flex;
}

.container-info-comic {
    margin: auto;
    background-color: white;
}

.container-img-details {
   height: 500px;
}

.description {
    color: black;
    width: 500px;
    overflow-y: auto;
    height: 100px;
}

.container-img-info{
    width: 30%;
    margin: 50px;
    padding: auto;
}


.title-info-comic {
    text-align: center;
    color: black;
    margin: 50px;
    padding: auto;
    display: flex;
}

.name-comic {
    font-size: 40px;
}

.description-info-comic {
    color: black;
    margin: 50px;
    padding: auto;
    display: flex;
}

.description-info-comic > span {
    font-size: small;
}

.details {
    color: white;
    margin-left: 50px;
}

.details > span {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.container-comic{
    margin: auto;
    margin-bottom: 50px;
    height: 300px;
    width: 835px;
    overflow-y: hidden; 
    overflow-x: auto;
    gap: 10px;
    white-space: nowrap;
}