.card-img-small {
    width: 150px;
    height: 225px;
    margin: 0;
    padding: 0;
    border: none;
}

.card-name {
    color: black;
    margin: auto;
    font-size: x-small;
}

.container-name {
    z-index: 1;
    text-align: center;
    justify-content: center;
    background-color: white;
}