.container-info{
    background-color: black;
}

.title-info{
    background-color: red;
    color: white;
}

.img-info {
    margin: 20px;
    width: 350px;
    height: 500px;
    margin: auto;
    padding: auto;
}

.horizontal-scroll {
    overflow: auto;
    width: 800px;
    padding: auto;
}
.container-comic {
    width: 500px;
    padding: auto;
    margin: auto;
}